.container {
  padding: 100px;
  height: 100%;
  width: 100%;
  background-image: url("../../assets/images/cyber2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
