@import "../styles/variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: "Nunito Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scrollbar-widsth: thin;
}

#root {
  height: 100%;
}

code {
  font-family: "source-code-pro", "Menlo", "Monaco", "Consolas", "Courier New",
    monospace;
}

a,
button {
  cursor: pointer;
}

input[type="checkbox"],
input[type="radio"] {
  cursor: pointer;
}

*::-webkit-scrollbar {
  width: 8px;
  background-color: whitesmoke;

  &-track {
    border-radius: 10px;
    background-color: whitesmoke;
  }

  &-thumb {
    border-radius: 10px;
    background-color: #c6c6c6;
  }
}

.react-datepicker {
  font-weight: bold;
}

.card-body {
  padding: 8px;
}

.card-header {
  padding: 8px;
}

.form-group {
  margin-bottom: 8px;
}

form label {
  font-size: 12px;
}

label {
  margin: 0;
}

button {
  &:focus {
    box-shadow: unset !important;
  }
}

.leaflet-routing-container.leaflet-bar.leaflet-control {
  display: none !important;
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  color: #fdfdfd;
  background: black;
}

.c-app {
  --inverted: #b0b0c5;
}
