$theme-colors: (
  formBG: #23242d,
);

$colors: (
  primary: #0073ea,
  secondary: #ced2d8,
  tertiary: #2eb85c,
  success: #2eb85c,
  info: #3399fe,
  danger: #e55353,
  warning: #f9b115,
  dark: #636f83,
);

$layers: (
  base: 0,
);
