.container {
  height: 100%;
  width: 100%;
  background-image: url("../../assets/images/background2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 50px;
}

.header {
  display: flex;
  justify-content: space-between;

  .title {
    color: white;
    margin-bottom: 50px;
  }

  .logo {
    width: 200px;
    height: 50px;
  }
}

.body {
  display: flex;
  gap: 20px;

  .card {
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .cardData {
      display: flex;
      flex-direction: column;
      gap: 20px;

      .attribute {
        display: flex;
        gap: 10px;

        &__title {
          color: white;
          text-decoration: underline;
        }

        &__content {
          color: rgba(white, 0.7);
          font-weight: 300;
        }
      }
    }

    .chooseBtn {
      width: 50%;
      margin-bottom: 10px;
    }
  }
}
